@keyframes intro {
  from {
    margin-bottom: -3em;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom center;
  }
  to {
    margin-bottom: 0;
    opacity: 1;
    transform: scale(1);
    transform-origin: bottom center;
  }
}

#log,
body,
html {
  overflow: hidden;
}
#log {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 100px 15px 10px;
  text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.7),
    -2px 2px 0 rgba(0, 0, 0, 0.7),
    2px -2px 0 rgba(0, 0, 0, 0.7),
    2px 2px 0 rgba(0, 0, 0, 0.7);
}
#log > div {
  position: relative;
  border-radius: 0.6em;
  padding: 0.6em 1.5em 0.6em;
  margin-top: 0.6em;
  text-align: left;
  animation: intro 0.4s ease-in-out, fadeOutUp 1s ease $message_hide_delays forwards;
}

#log > div:nth-child(2n) {
  background-color: #cba565bb;
}
#log > div:nth-child(2n-1) {
  background-color: #cbc778bb;
}

#log > div.deleted {
  visibility: hidden;
}
.meta {
  position: absolute;
  top: -0.5em;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.2em;
  transform: translateX(-50%);
}
.message {
  word-break: break-all;
  line-height: 1.2em;
  color: #ffffff;
  font-family: '$font_face', sans-serif !important;
}
.name,
.colon {
  display: none;
}
.badge {
  height: 1em;
  margin: 0;
  padding: 0;
}
#log .emote_wrap {
  position: relative;
}
#log .emote_wrap img.emoticon {
  height: 1em;
  margin-left: -0.1em;
  margin-bottom: -0.1em;
}
.emote {
  display: block !important;
  width: 6em !important;
  height: auto !important;
  padding: 0 !important;
  margin: 0 auto !important;
}
body {
  background-color: $background_color;
}
body,
html {
  height: 100%;
}
#log {
  font-weight: 600;
  font-size: $font_sizepx;
}
span.message > img {
  height: 1em;
}
